* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  text-align: center;
  background-image: url('./../img/1260_paleontology.jpg');
  background-size: 130%;
  
}

h1 {
  text-align: center;
  margin-top: 10px;
}

#container {
  width: 1325px; /*se precisar de umacoluna a mais, adicionar 165px*/
  height: 495px; /*se precisar de uma linha a mais, adicionar 240px*/
  border: 1px solid #111;
  position: relative;
  margin: 25px auto; /*original é 10px, nao 150px*/
  border-radius: 10px;
  background-color: #111;
}

.card {
  width: 160px;
  height: 240px;
  position: absolute;
  border-radius: 10px;
  perspective: 600px;
  }

.card:hover {
  box-shadow: 0 0 10px goldenrod;
  cursor: pointer;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transition: all 1s;
  backface-visibility: hidden;
}

.back {
  background: url('../img/verso.jpg');
}

.back.flipped {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(-180deg);
}

.front.flipped {
  transform: rotateY(0deg);
}

#modalGameOver {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  z-index: -2;
}

#imgGameOver {
  margin-top: 400px;
}

.face.flipped.match{
  box-shadow: 0 0 10px #0f0;
}

#imgMatchSign{
  position: relative;
  top: 250px;
  transition-property: top, opacity;
  transition-duration: 1.5s;
  opacity: 1;
  z-index: -1;
}